<div class="movers-container compact">

  <!-- GAINER -->
  <div class="mover-row">
    <span class="status gain">GAINER</span>

    <div class="info">
      <span class="name">{{ gainer?.name }}</span>
      <span class="symbol">{{ gainer?.symbol | uppercase }}</span>
    </div>

    <div class="price">
      ${{ gainer?.high_24h | number:'1.0-2' }}
    </div>

    <div class="change positive">
      +{{ gainer?.changePercent  | number:'1.2-2' }}%
    </div>
  </div>

  <!-- LOSER -->
  <div class="mover-row">
    <span class="status loss">LOSER</span>

    <div class="info">
      <span class="name">{{ loser?.name }}</span>
      <span class="symbol">{{ loser?.symbol | uppercase }}</span>
    </div>

    <div class="price">
      ${{ loser?.low_24h | number:'1.0-2' }}
    </div>

    <div class="change negative">
      {{ loser?.changePercent  | number:'1.2-2' }}%
    </div>
  </div>

</div>
