.chart-wrapper {
  position: relative;
  width: 100%;
}

.chart-wrapper.compact {
  height: 240px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


// #priceChart {
//   width: 100% !important;
//   height: 100% !important;
//   display: block;
// }
