<div class="card bg-dark border-secondary mb-4">
  <div class="card-body">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Cryptocurrency Analysis</h5>

      <div class="d-flex gap-2">
        <div class="filter-bar">
  <div class="filter-group">
    <label>Cryptocurrency</label>
    <select class="form-select w-auto"  [(ngModel)]="selectedCoin"
    (change)="onCoinChange()"
  >
    <option value="bitcoin">Bitcoin</option>
    <option value="ethereum">Ethereum</option>
    <option value="solana">Solana</option>
  </select>
  </div>

  <div class="filter-group">
    <label>Time Range</label>
    <div class="time-chips">
    <button
      class="btn btn-outline-primary"
      *ngFor="let d of [7,14,30]"
      (click)="onDaysChange(d)"
    >
      {{ d }}D
    </button>
    </div>
  </div>
</div>

      </div>
    </div>

    <div class="chart-wrapper">
  <canvas id="priceChart"></canvas>
</div>



  </div>
</div>
